{
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "classes": true,
    "templateStrings": true,
    "destructuring": true,
    "objectLiteralShorthandMethods": true,
    "spread": true,
    "restParams": true,
    "modules": true
  },
  "rules": {
    "indent": [2, 2],
    "quotes": 0,
    "strict": 0,
    "curly": 0
  }
}
