{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "quotes": 0,
    "strict": 0,
    "curly": 0
  }
}
